---
import Base from './Base.astro';
const { frontmatter } = Astro.props;
---

<Base title={frontmatter.title} description={frontmatter.description}>
  <article>
    <h1>{frontmatter.title}</h1>
    <time datetime={frontmatter.date}>{frontmatter.date}</time>
    <slot />
  </article>
</Base>
